#cubeHolder{
    position:relative;
    width:200px;
    height:200px;
    left:100px;
    top:100px;
}

#logsHolder {
    position:relative;
    left:50px;
    top:200px;
}

#wrapper {
    position: relative;
    width:200px;
    height:200px;
}

#wrapper div {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    z-index: 1;
    opacity: 0.3;
	text-align: center;
	vertical-align: middle;
	line-height: 200px;
}

#wrapper div#frontface {
    background-color:green;
}
#wrapper div#leftface {
    background-color:purple;
	content:url(http://www.electricimp.com/public/img/logodark.png);
}
#wrapper div#topface {
    background-color:blue;
}
#wrapper div#bottomface {
    background-color:yellow;
}
#wrapper div#backface {
    background-color:red;
}
#wrapper div#rightface {
    background-color:cyan;
	content:url(http://www.electricimp.com/public/img/logodark.png);
}
